.icon-category {
    background: #ffffff center center no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: auto 18px;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: auto 18px;
}
.icon-category-1 {
    -webkit-mask-image: url('/images/backend/icon/permission_module_category/1.svg');
    mask-image: url('/images/backend/icon/permission_module_category/1.svg');
}
.icon-category-2 {
    -webkit-mask-image: url('/images/backend/icon/permission_module_category/2.svg');
    mask-image: url('/images/backend/icon/permission_module_category/2.svg');
}
.icon-category-3 {
    -webkit-mask-image: url('/images/backend/icon/permission_module_category/3.svg');
    mask-image: url('/images/backend/icon/permission_module_category/3.svg');
}
.icon-category-4 {
    -webkit-mask-image: url('/images/backend/icon/permission_module_category/4.svg');
    mask-image: url('/images/backend/icon/permission_module_category/4.svg');
}
.icon-category-5 {
    -webkit-mask-image: url('/images/backend/icon/permission_module_category/5.svg');
    mask-image: url('/images/backend/icon/permission_module_category/5.svg');
}
.icon-category-6 {
    -webkit-mask-image: url('/images/backend/icon/permission_module_category/6.svg');
    mask-image: url('/images/backend/icon/permission_module_category/6.svg');
}
.icon-category-7 {
    -webkit-mask-image: url('/images/backend/icon/permission_module_category/7.svg');
    mask-image: url('/images/backend/icon/permission_module_category/7.svg');
    -webkit-mask-size: 18px 18px;
    mask-size: 18px 18px;
}
